/* Color Theme Swatches in Hex */
$Module-icons-1-hex: #7E60BF;
$Module-icons-2-hex: #0487D9;
$Module-icons-3-hex: #038C73;
$Module-icons-4-hex: #F29F05;
$Module-icons-5-hex: #D92B04;
$Module-icons-6-hex: #fafafa;

/* Margins */
$Margin-bottom: 1.875rem;
$Margin-bottom-sm: 0.5rem;
$Margin-bottom-m: 0.75rem;

