@use 'prime-ng' as *;
@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    width: 100%;
    min-height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: #789C11;
    background-color: $Module-icons-4-hex;
}



